html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
    line-height: 1;
    cursor: pointer;
}

@font-face {
    font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
    font-family: "Helvetica-Bold", sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-style: 7400;
}

body {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #5c5c5e;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-title {
    text-transform: uppercase;
    font-weight: 400;
    color: #5c5c5e;
    margin-bottom: 2px;
}

.header {
    border-bottom: 1px solid #cacad6;
    color: #5c5c5e;
}

.nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 20px;
}

.logo {
    -ms-grid-column-align: center;
    justify-self: center;
}

.basket--on {
    position: relative;
    -ms-grid-column-align: end;
    justify-self: end;
}

.basket--on span {
    position: absolute;
    bottom: 0px;
    right: -6px;
    font-size: 11px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #5c5c5e;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top {
    min-height: calc(100vh - 81px);
    background-image: url(../img/top-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.top__title {
    padding-top: 16%;
    font-size: 96px;
    line-height: 110px;
    font-weight: 400;
    margin-bottom: 10px;
}

.top__subtitle {
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 5px;
}

.top__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 50px;
}

.top__buy-text {
    padding-top: 6px;
    font-size: 13px;
}

.buy-btn {
    cursor: pointer;
    border: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    text-transform: uppercase;
    padding: 1px;
    margin-bottom: 10px;
}

.buy-btn__text {
    color: #F6F4F5;
    padding: 20px 110px;
    text-transform: uppercase;
}

.buy-btn__price {
    color: #5C5C5E;
    background-color: #F6F4F5;
    padding: 20px 105px;
    text-transform: uppercase;
}

.features {
    padding: 100px 0;
}

.features__titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.features__title {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    padding-right: 20px;
}

.features__text {
    max-width: 330px;
    text-transform: uppercase;
    font-size: 36px;
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
    grid-template-columns: 300px auto;
}

.tabs__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 20px 0;
}

.tabs__btn-item--active {
    color: #070707;
}

.tabs__btn-item {
    font-weight: 700;
}

.tabs__content {
    position: relative;
    min-height: 300px;
}

.tabs__content-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 280px;
    grid-template-columns: auto 280px;
    -ms-grid-rows: auto 150px;
    grid-template-rows: auto 150px;
    grid-gap: 40px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.tabs__content-item--active {
    opacity: 1;
}

.tabs__content-img {
    grid-row: 1/-1;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.tabs__content-box h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}

.video {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 280px;
    height: 150px;
    background-image: url(../img/content-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.video__btn {
    margin-left: 30px;
}

.video span {
    margin-left: 9px;
    margin-bottom: 9px;
    color: #F6F4F5;
    font-size: 13px;
}

.game {
    margin-bottom: 100px;
}

.game__title {
    margin-bottom: 50px;
}

.game__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
}

.game__descr {
    padding-right: 10px;
}

.game__descr-title {
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 41px;
    margin-bottom: 10px;
}

.game__descr-text {
    margin-bottom: 24px;
}

.game__descr-link-box {
    font-weight: 700;
    width: 225px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    -o-border-image: -o-linear-gradient(top, #BC10D8, rgba(80, 0, 250, 0.93)) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
    border-image: linear-gradient(to bottom, #BC10D8, rgba(80, 0, 250, 0.93)) 1;
}

.game__descr-link {
    display: inline-block;
    padding: 15px 27px;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game__item {
    border-style: solid;
    border-width: 1px;
    -o-border-image: -o-linear-gradient(top, #BC10D8, rgba(80, 0, 250, 0.93)) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
    border-image: linear-gradient(to bottom, #BC10D8, rgba(80, 0, 250, 0.93)) 1;
    padding: 10px 20px 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.game__item-img {
    margin-bottom: 10px;
}

.game__item-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.game__item-text {
    margin-bottom: 30px;
}

.game__item-link {
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: auto;
}

.buy {
    margin-bottom: 110px;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.buy__img {
    margin-bottom: 30px;
}

.buy__bg {
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 400px;
    line-height: 400px;
    font-weight: 700;
    opacity: 0.1;
    z-index: -1;
    -webkit-animation: line-text 6s linear 1s infinite;
    animation: line-text 6s linear 1s infinite;
}

@-webkit-keyframes line-text {
    from {
        -webkit-transform: translateX(115%);
        transform: translateX(115%);
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }

    to {
        -webkit-transform: translateX(-115%);
        transform: translateX(-115%);
        -webkit-transform-origin: right center;
        transform-origin: right center;
    }
}

@keyframes line-text {
    from {
        -webkit-transform: translateX(115%);
        transform: translateX(115%);
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }

    to {
        -webkit-transform: translateX(-115%);
        transform: translateX(-115%);
        -webkit-transform-origin: right center;
        transform-origin: right center;
    }
}

.equipment {
    margin-bottom: 100px;
}

.equipment__title {
    margin-bottom: 50px;
}

.equipment__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 20px;
}

.equipment__img {
    margin-bottom: 10px;
}

.equipment__box-title {
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

.equipment__box-item--one {
    grid-row: 1/-1;
}

.promo {
    margin-bottom: 100px;
}

.promo__inner {
    background-image: url(../img/promo.jpg);
    min-height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.promo__btn {
    font-weight: 700;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.buy-btn--center {
    margin: 0 auto;
    margin-bottom: 10px;
}

.accessories {
    margin-bottom: 100px;
}

.accessories__title {
    margin-bottom: 30px;
}

.accessories__text {
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 41px;
    margin-bottom: 30px;
}

.accessories__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
}

.accessories__item {
    padding: 20px;
    border: 1px solid;
    -o-border-image: -o-linear-gradient(top, #BC10D8, rgba(80, 0, 250, 0.93)) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
    border-image: linear-gradient(to bottom, #BC10D8, rgba(80, 0, 250, 0.93)) 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.accessories__item-title {
    font-size: 24px;
    color: #070707;
    margin-bottom: 10px;
    min-height: 67px;
}

.accessories__item-text {
    margin-bottom: 42px;
    margin-top: auto;
}

.accessories__item-price {
    color: #070707;
    margin-top: auto;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accessories__item-btn {
    line-height: 1.1;
    font-weight: 700;
    border: 1px solid;
    -o-border-image: -o-linear-gradient(top, #BC10D8, rgba(80, 0, 250, 0.93)) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93))) 1;
    border-image: linear-gradient(to bottom, #BC10D8, rgba(80, 0, 250, 0.93)) 1;
    padding: 5px 10px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#BC10D8), to(rgba(80, 0, 250, 0.93)));
    background: -o-linear-gradient(top, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contacts {
    margin-bottom: 100px;
}

.contacts__title {
    font-size: 24px;
    line-height: 1.05;
    margin-bottom: 10px;
    color: #070707;
}

.contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.contacts__form {
    -ms-flex-preferred-size: 600px;
    flex-basis: 600px;
}

.contacts__text {
    font-size: 13px;
}

.form {
    margin-bottom: 10px;
    position: relative;
}

.form__input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #cacad6;
    padding: 20px 70px 20px 10px;
    font-size: 16px;
}

.form__input::-webkit-input-placeholder {
    color: #CACAD6;
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
}

.form__input::-moz-placeholder {
    color: #CACAD6;
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
}

.form__input:-ms-input-placeholder {
    color: #CACAD6;
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
}

.form__input::-ms-input-placeholder {
    color: #CACAD6;
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
}

.form__input::placeholder {
    color: #CACAD6;
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
}

.form__btn {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    background-color: #cacad6;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: 700;
}

.footer__social {
    -ms-grid-column-align: end;
    justify-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 20px;
}